@import 'reset';
@import 'bootstrap-grid';
@import 'tooltip';

// ------------------------------------------------------------------------------------------------
// Variables
// ------------------------------------------------------------------------------------------------

$font-primary: 'Hind', sans-serif;
$font-title: 'Spartan', sans-serif;
$color-base: rgba(16, 16, 16, 0.8);
$color-primary: #da8a67;

// ------------------------------------------------------------------------------------------------
// BASE
// ------------------------------------------------------------------------------------------------

body {
	font-family: $font-primary;
	line-height: 1.4;
	font-size: 16px;
	overflow-x: hidden;
	font-weight: 400;
	color: $color-base;
}

h1,h2,h3,h4,h5,h6 {
	margin-bottom: 20px;
	font-family: $font-title;
	font-weight: 500;
}

h1 {
	font-size: 42px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 25px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 15px;
}

h6 {
	font-size: 13px;
}

p {
	margin-bottom: 20px;
	line-height: 1.6;
	
	&:last-child {
		margin-bottom: 0;
	}
}

a {
	text-decoration: none;
	color: $color-primary;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	transition: all 0.3s ease;

	&.link-hover {
		&:hover{
			opacity: 0.6;
		}
	}

	&.link-hover-primary {
		&:hover{
			color: $color-primary;
		}
	}
}

ul,
ol {
	padding-left: 40px;
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li {
	margin-bottom: 10px;
	a {
		display: block;
		padding: 10px;
	}
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

small {
	font-size: 80%;
}

u {
	text-decoration: underline;
}

input[type="text"], 
input[type="email"], 
input[type="tell"], 
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="date"],
input[type="time"],
select,
textarea{
	width: 100%;
	height: 40px;
	font-family: inherit;
	font-size: 13px;
	padding: 0 20px;
	color: inherit;
	outline: none;
	border: 2px solid rgba($color: #000000, $alpha: 0.05);

	&::placeholder {
		color: inherit;
		opacity: 0.5;
	}
}

select {
	padding: 8px 0;
}

textarea {
	height: auto;
	overflow: hidden;
	padding: 20px;
}

table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	border-top: 1px solid #E6E6E6;
	border-left: 1px solid #E6E6E6;
	background-color: #FFF;
	z-index: 1;
}

td, th {
	padding: 10px 20px;
	border-right: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	text-align: center;
}

button,
.button,
input[type="button"],
input[type="submit"] {
	background: #333333;
	color: #fff;
	padding: 10px;
	outline: none;
	border: none;
	transition: all 0.3s ease;
	cursor: pointer;
}

// ------------------------------------------------------------------------------------------------
// MIXINS
// ------------------------------------------------------------------------------------------------

@mixin block-absolute ($top, $right, $bottom, $left) {
	position: absolute;
	@if $top != none {top: $top;} 
	@if $right != none {right: $right;}
	@if $bottom != none {bottom: $bottom;}
	@if $left != none {left: $left;}
}

@mixin background ($url) {
	background-image: $url;
	background-size: cover;
	background-position: center;
}


// ------------------------------------------------------------------------------------------------
// COLOR SCHEMA 
// ------------------------------------------------------------------------------------------------

.color-schema-white {
	color: #fff;

	h1,h2,h3,h4,h5,h6, input{
		color: #fff;
	}

	p, ul, span {
		color: rgba($color: #fff, $alpha: 0.8);
	}
}

// ------------------------------------------------------------------------------------------------
// HEADER
// ------------------------------------------------------------------------------------------------

.header-main {
	margin-bottom: 40px;
	font-size: 13px;

}

.top-bar {
	background-color: #da8a67;

	.header-row {	
		height: 40px;
	}
}

.header-row {
	display: flex;
	justify-content: space-between;
	align-items: center;

	i {
		opacity: 0.7;
		margin-left: 5px;
	}

	.email,
	.tell {
		margin-right: 30px;
	}

	.info, 
	.currency {
		border-right: 1px solid rgba($color: #fff, $alpha: 0.2);
		margin-right: 8px;
		padding-right: 10px;
	}

	.currency,
	.languare {
		cursor: pointer;
	}
}

.languare {

	img {
		width: 21px;
		margin-right: 3px;
	}
}

.header-general {
	font-weight: 500;

	.header-row {	
		height: 100px;
	}

	a {
		margin-right: 16px;
		display: flex;
		align-items: center;
		color: $color-base;
	
		i {
			font-size: 20px;
			margin-right: 5px;
		}

		span {
			opacity: 0.5;
			margin-left: 4px;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	.header-col-center {
		justify-content: center;
	}
}

.logo-main {
	display: inline-block;
	flex-shrink: 0;
	max-height: 70px;
}

.header-col-left {
	display: flex;
	margin-right: 15px;
}

.header-col-center {
	display: flex;
	flex-grow: 1;
	margin-left: 15px;
	margin-right: 15px;
}

.header-col-right {
	display: flex;
	margin-left: 15px;
}

.form-search {
	position: relative;
	display: flex;
	align-items: center;
	max-width: 580px;
	width: 100%;

	input[type="text"] {
		padding: 0 150px 0 35px;
	}

	select {
		
		max-width: 150px;
		padding: 0 10px;
		height: 36px;
		border: none;
	}

	.select-wrapper {
		@include block-absolute(none, 1px, none, none);

		&::before {
			content: " ";
			@include block-absolute(50%, none, none, 0);
			height: 15px;
			width: 1px;
			transform: translateY(-50%);
			background: rgba($color: $color-base, $alpha: 0.05);
		}
	}

	button {
		@include block-absolute(0, none, 0, 0);
		background: transparent;
		font-size: 16px;
		padding: 7px;
		color: inherit;
		
		i {
			font-weight: 500;
		}
	}
}

.header-link {
	display: flex;
	align-items: center;
}

.header-bottom {
	border-bottom: 1px solid rgba(16, 16, 16, 0.05);

	.header-row {
		height: 60px;
	}

	.button-product-wrapper {
		
		a {
			opacity: 1;
			width: 42px;
		}

		.fa-plus {
			margin-left: 2px;
		}

		i {
			margin-left: 0;
		}
	}
}

.menu-main {
	display: flex;
	margin-left: -23px;
	padding-left: 0;
	list-style: none;

	a {
		padding: 20px 13px;
		font-size: 16px;
		color: $color-base;	
	}

	li {
		margin-bottom: 0;
	}
}

.menu-border {
	position: relative;

	&::after {
		content: " ";
		@include block-absolute(none, 100%, -17px, 0);
		height: 3px;
		background-color: $color-primary;
		transition: all 0.3s ease;
	}

	&.active {

		&::after {
			right: 0;
		}
	}
}

.header-bottom-info {
	font-size: 16px;
}

.primary-color {
	color: $color-primary
}

.categories-main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 19px 18px;
	font-size: 16px;

	i {
		color: #fff;
	}

	.fa-bars {	
		opacity: 1;
		margin-right: 5px;
	}
}

.menu-categories,
.menu-main {
	
	li {
		&:hover {
			> a {
				color: $color-primary;
			}

			.menu-border {

				&::after {
					right: 0;
				}
			}
		}
	}
}

.menu-categories {
	background: $color-primary;
	min-width: 280px;
	padding-left: 0;
	list-style: none;

	li {
		margin-bottom: 0;
	}
}

.menu-categories,
.menu-main {

	li {
		position: relative;

		&:hover,
		&.active-dropdown {
			> .menu-dropdown {
				opacity: 1;
				visibility: visible;
				transform: translate(0, 0);
			}
		}
	}
}

.menu-dropdown {
	@include block-absolute(100%, none, none, 0);
	background: #fff;
	opacity: 0;
	visibility: hidden;
	z-index: 2;
	transition: all 0.4s ease;
	list-style: none;
	box-shadow: 0px 10px 11px 0px rgba(34, 60, 80, 0.2);
	transform: translateY(20px);
	
	li {
		margin-bottom: 0;
	}

	ul {
		padding-left: 0;
		list-style: none;
		margin-bottom: 40px;
		

		&:last-child {
			margin-bottom: 0;
		}
	}

	h5{
		font-weight: 700;
	}

	a {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: $color-base;
		opacity: 0.8;
		padding: 0;
		font-size: 16px;
	}

	p {
		font-size: 16px;
		color: rgba($color: $color-base, $alpha: 0.4);
	}

	.menu-dropdown {
		top: 0;
		left: 100%;
		margin-left: 20px;
		transform: translate(40px, 0);

		&::after {
			content: " ";
			@include block-absolute(0, none, 0, 0);
			width: 20px;
			margin-left: -20px;
		}
	}

	&.menu-categories {
		right: 0;
		padding: 0px 20px;
		border-top: none;
		border: 1px solid rgba(16, 16, 16, 0.05);
		box-shadow: none;
	
		> li {
			max-height: 50px;
			border-bottom: 1px solid rgba(16, 16, 16, 0.05);
	
			span {
				img {
					margin-left: -20px;
				}
			}
			
			&:last-child {
				border-bottom: 0;
			}
		}
	}

	&.large-dropdown {
		padding: 40px;

		li {
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&.blog {
		width: 920px;
		left: -190px;
		display: flex;
	}

	&.home {
		width: 990px;
		left: -90px;

		.col-dropdown {
			flex-grow: 1;
		}
	}

	&.shop {
		width: 1080px;
		left: -270px;
	}

	&.sweatshirts {
		width: 680px;
	}

	&.dresses {

		.row {
			margin-bottom: 40px;
		}
	}

	&.jackets,
	&.pants,
	&.dresses {
		width: 760px;
	}

	&.pants {

		img {
			margin-bottom: 40px;
		}
	}

	.new-pants {
		margin-bottom: 60px;
	}
}

.menu-label {
	position: relative;
}

.menu-label-inner {
	@include block-absolute(-10px, -2px, none, none);
	padding: 2px;
	border-radius: 1px 3px;
	transform: translateX(100%);
	background-color: #65b32e;
	color: #fff;
	font-size: 9px;
	font-weight: 700;
	text-transform: uppercase;

	&.hot {
		background-color: #d41212;
	}
}

.menu-dropdown-inner {
	flex-grow: 1;

	&:not(:last-child) {
		margin-right: 40px;
	}
}

.rectangle {
	width: 400px;
	padding: 40px;
	margin: -40px;
	margin-left: 0;
	background: $color-primary;

	p {
		color: inherit;
	}
}

.rectangle-video {
	position: relative;

	.play {
		@include block-absolute(50%, none, none, 50%);
		transform: translate(-50%, -50%);
		height: 80px;
		width: 80px;
		justify-content: center;
		border: 3px solid #fff;
		border-radius: 50%;
		opacity: 1;
	
		i {
			font-size: 30px;
			opacity: inherit;
			margin: 0;
			color: #fff;
		}

		&:hover {
			opacity: 0.8;
		}
	}
}

.shop-dropdown-img {
	position: relative;
	height: 100%;

	img {
		object-fit: cover;
		object-position: center;
		height: 100%;
	}
}

.shop-dropdown-img-inner {
	@include block-absolute(0, 0, 0, 0);
	padding: 20px;
	max-width: 140px;

	h3 {
		margin-bottom: 10px;
	}
	
	a {
		font-weight: 600;
		opacity: 1;
	}

	.menu-border {

		&::after {
			bottom: 0;
		}
	}
}

.shop-list-wrapper {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid rgba(16, 16, 16, 0.05);
}

.shop-list-col-2 {
	column-count: 2;
}

.popular-categories {
	display: flex;
	align-items: center;
	justify-content: space-between;

	a {
		width: 80px;
		height: 80px;
		overflow: hidden;
		border-radius: 50%;
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			transform: scale(1.1);
		}
	}
}

.dropdown-title {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	margin-top: -15px;

	h5 {
		margin-bottom: 0;
	}

	img {
		margin-left: -20px;
	}
}

.dropdown-category-img {
	display: flex;
	align-items: flex-end;
	height: 100%;
	margin-right: -80px;
	margin-left: -55px;

	img {
		margin-bottom: -40px;
	}
}

.dropdown-title-img {
	position: relative;
}

.dropdown-title-img-inner {
	@include block-absolute(0, 0, 0, 0);
	display: flex;
	align-items: center;
}

.popular-products {
	margin-right: -42px;
	margin-top: -40px;
	margin-bottom: -40px;
	min-height: 500px;
	padding: 40px;
	background: rgba($color: $color-base, $alpha: 0.05);

	.menu-border {

		&::after {
			bottom: 0;
		}
	}
}

.popular-products {

	h5 {
		margin-bottom: 0;
	}
}

.dresses-menu-link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 0;
	border-top: 1px solid rgba(16, 16, 16, 0.05);

	a {
		width: 60px;
		height: 60px;
		
		&:not(:last-child) {
			margin-right: 10px;
		}

		&:hover {
			transform: scale(1.2);
		}
	}
}

.menu-border-left {
	border-left: 1px solid rgba(16, 16, 16, 0.05);
}

.button-burger {
	display: none;
	font-size: 20px;
	padding: 10px 15px;
	background: #fff;
	border: 1px solid rgba($color: $color-base, $alpha: 0.5);

	i {
		margin-left: 0;
		opacity: 1;
		color: $color-base;
	}
}


// ------------------------------------------------------------------------------------------------
// SLIDER
// ------------------------------------------------------------------------------------------------

.slider {
	margin-bottom: 90px;
	margin-top: -20px;
	min-height: 500px;
}

.slider-foto {
	position: relative;
}

.slider-foto-inner {
	@include block-absolute(0, 0, 0, 0);
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 500px;
	padding: 37px;
}

.slider-numbers {
	@include block-absolute(none, none, 25px, 40px);
	z-index: 1;
	display: flex;

	span {
		display: inline-block;
		padding: 0 5px;
		font-family: $font-title;
		transition: all 0.3s ease;
		cursor: pointer;
		outline: none;

		&.left,
		&.right {
			opacity: 0.3;
		}

		&.right {
			margin-left: 70px;
		}

		&:hover,
		&.swiper-pagination-bullet-active {
			opacity: 0.7;
			padding: 0 4px;
		}

	
	}

	.swiper-pagination {
		position: relative;
		display: flex;
		text-align: center;
	}

	.swiper-pagination-bullet {
		background: transparent;
		width: 20px;
		height: 20px;
	}
}

.button-wrapper {
	display: flex;
	align-items: center;
}

.button {
	display: inline-block;
	padding: 10px 27px;
	font-weight: 600;
	color: inherit;
	font-size: 14px;

	&.button-while {
		background: #fff;
		color: $color-base;
		margin-right: 20px;

		&:hover {
			background: rgb(179, 179, 179);
		}
	}

	&.chech-product {
		padding: 0;
		width: 30px;
		height: 30px;
		margin-right: 10px;
		background-color: #A6B6A9;	

		&:hover {
			background-color: #8d998f;
		}
	}

	&.chech-product-red {
		background-color: #D55860;

		&:hover {
			background-color: #aa4349;
		}
	}

	&.button-product {
		background: #fff;
		padding: 13px;
		max-height: 42px;
		margin-right: 5%;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			color: $color-primary;
		}
	}

	&.button-medium {
		background: $color-primary;
		color: #fff;
		padding: 9px 17px;

		&:hover {
			background: #a36950;
		}
	}

	&.button-subscribe {
		background: transparent;
		border: 2px solid rgba(16, 16, 16, 0.05);
		padding: 8px 30px;
		font-weight: 600;

		&:hover {
			background: rgba(16, 16, 16, 0.05);
		}
	}

	&.button-border {
		border: 2px solid rgba(16, 16, 16, 0.05);
	}

	&.button-cart {
		color: #fff;
		flex-grow: 1;
		margin: 0 15px;
		min-height: 45px;

		&:hover {
			background: #5a5959;
		}
	}

	&.button-extra-large {
		padding: 10px 30px;
	}

	&.button-primary {
		color: #fff;
		background-color: $color-primary;

		&:hover {
			background-color: $color-base;
		}
	}

	.fa-search {
		font-weight: 500;
	}
}

.btn-text-span {
	display: none;
}

.btn-plus {
	display: inline-block;
	font-size: 25px;
	margin-top: -5px;
}


// ------------------------------------------------------------------------------------------------
// PRODUCT-MAIN
// ------------------------------------------------------------------------------------------------

.product-main {
	margin-bottom: 30px;

	.title {
		margin-bottom: 0;
	}

	.row > [class*="col-"] {
		margin-bottom: 50px;
	}
}

.product-main-wrapper {
	display: none;

	&.active {
		display: block;
	}
}

.product-main-inner {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
	margin-bottom: 38px
}

.title-wrapper {
	margin-right: 15px;
}

.product-menu {
	display: flex;
	margin-right: -20px;
	margin-left: -20px;
	overflow-y: hidden;
	padding-left: 0;
	list-style: none;

	li {
		margin-bottom: 0;
		cursor: pointer;

		&:hover,
		&.active {

			a {
				border-color: $color-primary;
				opacity: 0.9;
			}
		}
	}

	a {
		padding: 10px 22px;
		color: $color-base;
		margin: 10px 22px;
		padding: 0px;
		border-bottom: 2px solid transparent;
		opacity: 0.7;
		font-weight: 500;
	}
}

.sub-title {
	color: $color-primary;
	font-family: $font-primary;
	margin-bottom: 10px;
}

.link-full {
	@include block-absolute(0, 0, 0, 0);
}


//**** product-box ****//

.product-box {

	img {
		width: 100%;
	}

	.price {
		font-family: $font-title;
		font-weight: 500;
		color: $color-primary;
		font-size: 15px;
	}

	&:hover {

		.product-foto-hover {
			opacity: 1;
		}
	}
}


.product-foto {
	position: relative;
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0
	}

	&.foto-hover-scale {
		overflow: hidden;
	
		img {
			transition: transform 0.3s ease;
		}
	
		&:hover {
			img {
				transform: scale(1.1);
			}
		}
	}
}

.product-foto-hover {
	@include block-absolute(0, 0, 0, 0);
	opacity: 0;
	transition: all 0.5s ease;
}

.button-product-wrapper {
	@include block-absolute(none, 20px, 20px, 20px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.product-text-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	font-weight: 500;

	h6 {
		margin-bottom: 0;
	}

	a {
		color: #101010;
	}
}

.product-foto-title {
	@include block-absolute(0, 0, 0, 0);
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 200px;
}

.check-product {
	display: flex;
}

.swatch {
	height: 15px;
	width: 15px;
	background: #2A767A;
	cursor: pointer;
	
	&:not(:last-child) {
		margin-right: 5px;
	}

	&.dark-green {
		background: #2A767A;
	}

	&.pink {
		background: #FFC7C7;
	}

	&.gray {
		background: #EEEEEE;
	}

	&.black {
		background: #1A1A1C;
	}

	&.blue {
		background: #31397D;
	}

	&.light-blue {
		background: #CEDADE;
	}

	&.light {
		background: #F2F2F2;
	}
}

.link-block-full {
	@include block-absolute(0, 0, 0, 0);
}

// ------------------------------------------------------------------------------------------------
// BEST-CATEGORY
// ------------------------------------------------------------------------------------------------

.best-category {
	background-color: rgba($color: $color-primary, $alpha: 0.1);
	padding: 60px 0;
	margin-bottom: 80px;

	p {
		max-width: 400px;
		margin-bottom: 35px;
	}

	.sub-title {
		font-size: 16px;
		font-weight: 400;
	}

	.row > [class*="col-"] {
		margin-bottom: 30px;
	}
}

.category-foto {
	position: relative;

	img {
		width: 100%;
	}
}

.category-banner {
	@include block-absolute(none, 0, -2px,-2px);
	max-width: 280px;
	padding: 30px;
	background: #fff;
	z-index: 1;

	.sub-title {
		margin-bottom: 25px;
	}

	&::before {
		content: " ";
		@include block-absolute(0, 0, 0, 0);
		background-color: rgba($color: $color-primary, $alpha: 0.1);
		z-index: 0;
	}
}

.category-banner-content {
	z-index: 1;
	position: relative;
}

.arrow-category {
	position: absolute;
	top: 18px;
	left: 30px;
	width: 20px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	color: rgba($color: $color-base, $alpha: 0.3);
	z-index: 10;

	i {
		font-weight: 400;
	}
	
	&.right {
		left: 60px;
	}

	&:hover {
		color: rgba($color: $color-base, $alpha: 0.6);
	}
}

.spacing-30 {
	margin-bottom: -30px;
}

// ------------------------------------------------------------------------------------------------
// PROMOTIONS
// ------------------------------------------------------------------------------------------------

.promotions {
	margin-bottom: 50px;

	.row > [class*="col-"] {
		margin-bottom: 30px;
	}

	.customers-arrow {
		top: 50%;
	}
}

.block-title-center {
	text-align: center;
	margin-bottom: 35px;

	p {
		margin: 0 auto;
		max-width: 400px;
	}

	.title {
		margin-bottom: 10px;
	}
}

.promotions-inner {
	margin-bottom: 60px;
}

.col-promotions {
	width: 100%;
	padding: 0 15px;
	margin-bottom: 30px;

	.button-product {
		padding: 7px;
		max-height: 30px;
	}
}

// ------------------------------------------------------------------------------------------------
// CUSTOMERS
// ------------------------------------------------------------------------------------------------

.customers {
	padding-top: 60px;
	padding-bottom: 40px;
	margin-bottom: 80px;
	background-color: rgba(218, 138, 103, 0.1);

	.row > [class*="col-"] {
		margin-bottom: 30px;
	}

}

.testimonial-wrapper {
	background-color: #fff;
	padding: 45px 30px;
	height: 100%;
}

.testimonial {
	display: flex;
	align-items: center;
	margin-bottom: 22px;

	&:last-child {
		margin-bottom: 0;
	}
}

.testimonial-foto {
	border-radius: 50%;
	overflow: hidden;
	height: 60px;
	width: 60px;
	margin-right: 10px;
}

.testimonial-about {
	
	h4 {
		margin-bottom: 8px;
	}

	h6 {
		margin-bottom: 0;
	}
}

.customers-arrow-wrapper {
	position: relative;
}

.customers-arrow {
	position: absolute;
	top: 50%;
	width: 45px;
	height: 60px;
	align-items: center;
	justify-content: center;
	display: flex;
	font-size: 20px;
	opacity: 0.2;
	background: transparent;
	transform: translateY(-50%);
	transition: opacity 0.3s ease;
	cursor: pointer;
	outline: none;
	z-index: 10;

	&:hover {
		opacity: 0.6;
	}
}

.arrow-left {
	left: -40px;
}

.arrow-right {
	right: -40px;
}

// ------------------------------------------------------------------------------------------------
// ARTICLES
// ------------------------------------------------------------------------------------------------

.articles {
	margin-bottom: 60px;
	text-align: center;

	img {
		width: 100%;
	}

	.row {
		> [class*=col-] {
			margin-bottom: 30px;
		}
	}

}

.articles-category-foto {
	position: relative;
	margin-bottom: 14px;
}

.banner-category {
	@include block-absolute(none, 50%, 0, none);
	padding: 10px 20px;
	background: #fff;
	transform: translate(50%, 50%);
	font-size: 13px;
	font-weight: 500;

	&:hover {
		background: rgb(231, 230, 230);
	}
}

.banner-play {
	@include block-absolute(20px, none, none, 20px);
	width: 40px;
	height: 40px;
	font-size: 17px;
	padding: 9px;
	color: #fff;
	background-color: $color-primary;
}

.articles-category-text {
	padding: 20px;
	line-height: 1.8;

	h5 {
		margin-bottom: 10px;
	}

	a {
		font-weight: 600;
		color: $color-base;

		i {
			margin-left: 5px;
		}
	}
}

.articles-category-about {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	color: rgba($color: $color-base, $alpha: 0.5);
	font-size: 13px;
	margin-bottom: 25px;

	.author-name {
		color: rgba($color: $color-base, $alpha: 1);
	}
}

.spacing-right {
	margin-right: 5px;
}

.articles-category-author {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	overflow: hidden;
}

.instagram-foto {
	position: relative;

	&:hover {

		.instagram-info{
			opacity: 1;
		}
	}
}

.instagram-info {
	@include block-absolute(0, 0, 0, 0);
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 13%;
	opacity: 0;
	color: #fff;
	transition: opacity 0.3s ease;

	i {
		margin-right: 5px;
	}

	span {
		z-index: 1;
	}

	&::after {
		content: " ";
		@include block-absolute(0, 0, 0, 0);
		opacity: 0.4;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
	}
}

.instagram-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;


	i {
		font-size: 20px;
		color: $color-primary;
		margin-bottom: 10px;
	}

	p {
		max-width: 200px;
		margin-bottom: 10px;
	}
}

.instagram-link {
	font-family: $font-title;
	font-size: 20px;
	font-weight: 500;
	color: $color-base;
	margin-bottom: 10px;
}

.spacing-bottom-65 {
	margin-bottom: 65px;
}

// ------------------------------------------------------------------------------------------------
// SUBSCRIBE
// ------------------------------------------------------------------------------------------------

.subscribe {
	margin-bottom: 40px;
}

.subscribe-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 50px;
	padding-bottom: 20px;
	border-top: 1px solid rgba(16, 16, 16, 0.05);
	border-bottom: 1px solid rgba(16, 16, 16, 0.05);
}

.subscribe-text {
	display: flex;
	align-items: start;
	margin-bottom: 30px;

	img {
		margin-right: 15px;
	}

	h2 {
		margin-bottom: 15px;
	}

	h6 {
		margin-bottom: 0;
	}
}

.subscribe-form {
	display: flex;
	align-items: center;
	flex-grow: 1;
	margin-bottom: 30px;

	input[type="text"] {
		margin-right: 20px;
		max-width: 350px;
	}

	.button {
		color: #fff;
	}
}

// ------------------------------------------------------------------------------------------------
// FOOTER-MAIN
// ------------------------------------------------------------------------------------------------

.footer-general {

	a {
		font-size: 13px;
		color: $color-base;
		opacity: 0.7;
	}

	i {
		font-size: 16px;
	}

	li {
		margin-bottom: 3px;
	}

	p,
	.address {
		opacity: 0.7;
		margin-bottom: 30px
	}

	.logo-main {
		margin-bottom: 30px;
	}

	.tell {
		font-family: $font-title;
		font-size: 24px;
		font-weight: 600;
		margin-bottom: 25px;
	}
}

.footer-link-wrapper {
	padding-top: 20px;
}

.footer-link {
	list-style: none;

	li {
		margin-bottom: 0;

		&:hover {

			a {
				color: $color-primary;
			}
		}
	}
}

.footer-about-us {
	padding-top: 10px;
}

.footer-about-us {

	a {
		padding: 5px;
	}
}

.footer-general-inner {
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(16, 16, 16, 0.05);
}

.copyring {
	padding: 20px 0;
	font-size: 13px;
	font-weight: 500;
	text-align: center;
	opacity: 0.4;
}

// ------------------------------------------------------------------------------------------------
// SHOP-PAGE
// ------------------------------------------------------------------------------------------------

.navigation-page {
	margin-bottom: 20px;

	&.single-product {
		margin-top: -10px;
	}
}

.navigation-page-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;

	&.navigation-page-border {
		padding-bottom: 25px;
		border-bottom: 1px solid rgba(16, 16, 16, 0.05);
	} 
}

.navigation-info {
	font-size: 13px;
	font-weight: 500;
	opacity: 0.5;
	margin-left: 15px;

	a {
		font-size: 16px;
		color: $color-base;
		padding: 10px;

		&:hover {
			opacity: 0.6;
		}
	}
}

.navigation-wrapper {
	display: flex;
	align-items: center;
	margin-right: 15px;
	margin-bottom: 10px;

	h2 {
		margin-bottom: 0;
		margin-right: 30px;
	}

	a {
		color: $color-base;
		margin-right: 15px;

		&:not(:last-child) {
			opacity: 0.5;
		}
	}

	span {
		margin-right: 13px;
		font-weight: 400;
		opacity: 0.5;
	}
}

// ------------------------------------------------------------------------------------------------
// SHOP-PAGE-PRODUCT
// ------------------------------------------------------------------------------------------------

.shop-page-product {
	margin-bottom: 45px;

	.product-menu {
		border-left: 1px solid rgba(16, 16, 16, 0.05);
	}

	.product-main-inner {
		align-items: center;
		margin-bottom: 10px;
	}

	.row {
		> [class*=col-] {
			margin-bottom: 30px;
		}
	}
}

.shop-page-col-left,
.shop-page-col-right {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 10px;
}

.filter-link {
	margin-right: 50px;
	color: $color-base;
	font-size: 16px;

	i {
		margin-right: 10px;
	}
}

.shop-grid {
	font-size: 22px;
	margin-bottom: 10px;

	span {
		margin-left: 14px;
		color: rgba($color: $color-base, $alpha: 0.4);
		transition: color 0.3s ease;
		cursor: pointer;

		&:hover,
		&.active {
			color: rgba($color: $color-base, $alpha: 0.8);
		}
	}
}

.shop-grid-number {
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 13px;
	font-weight: 500;

	span:not(.grid-title) {
		margin-right: 8px;
		color: rgba($color: $color-base, $alpha: 0.4);
		transition: color 0.3s ease;
		cursor: pointer;

		&::after {
			content: "/";
			margin-left: 5px;
			color: rgba($color: $color-base, $alpha: 0.4);
		}

		&:hover,
		&.active {
			color: rgba($color: $color-base, $alpha: 0.8);
		}
	}

	.grid-title {
		margin-right: 10px;
		color: #212121;
	}
}

.page-numbers {
	display: flex;
	justify-content: center;
	font-weight: 500;

	a {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 35px;
		width: 35px;
		margin: 0 5px;
		border: 1px solid rgba(16, 16, 16, 0.05);
		color: $color-base;

		&.arrow {
			border: none;
		}

		&:hover,
		&.active {
			background: $color-primary;
			color: #fff;
		}
	}

	i {
		font-weight: 300;
	}
}

// ------------------------------------------------------------------------------------------------
// PRODUCT-MAIN-PAGE
// ------------------------------------------------------------------------------------------------

.product-main-page {

	.row {
		> [class*=col-] {
			margin-bottom: 30px;
		}
	}
}

.product-main-page-inner {
	margin-bottom: 80px;
}

.product-page-text {

	p {
		margin-bottom: 32px;
	}

	input[type="number"] {
		max-width: 80px;
		padding: 0 10px;
		height: 45px;
	}

	.add-to-card {
		display: flex;
		align-items: center;
		margin-bottom: 50px;
	}

	.price {
		font-family: $font-title;
		font-size: 32px;
		font-weight: 500;
		color: $color-primary;
		margin-bottom: 20px;
	}

	.button-product {
		max-height: 45px;
	}
}

.sizes {
	
	span {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 40px;
		width: 40px;
		margin-right: 10px;
		font-weight: 600;
		font-size: 14px;
		border: 2px solid rgba($color: $color-base, $alpha: 0.05);
		transition: all 0.3s ease;
		cursor: pointer;

		&:hover,
		&.active {
			color: #fff;
			background-color: $color-base;
			border: 2px solid rgba($color: $color-base, $alpha: 0.8);
		}

		&.not-available {
			border: 2px solid rgba($color: $color-base, $alpha: 0.02);
			cursor: default;

			&:hover {
				color: inherit;
				background-color: inherit;
				border: 2px solid rgba($color: $color-base, $alpha: 0.02);
			}
		}
	}

	&.color {

		span {
			background: #D8BCBF;

			i {
				opacity: 0;
				color: $color-base;
				transition: opacity 0.3s ease;
			}

			&.active {
				background: #D4D6D7;
				border: 2px solid rgba($color: $color-base, $alpha: 0.8);

				i {
					opacity: 1;
				}
			}

			&:hover {

				i {
					opacity: 1;
				}
			}
		}
	}

	.name {
		font-size: 16px;
		margin-bottom: 10px;
	}
}

.sizes-spacing {
	margin-bottom: 30px;
}

.size-guide {
	opacity: 0.4;
	color: $color-base;
}

.sku-category {

	&.row > [class*=col-] {
		margin-bottom: 20px;
	}

	.info {
		opacity: 0.5;
	}
}

.description {
	border-top: 1px solid rgba(16, 16, 16, 0.05);
	border-bottom: 1px solid rgba(16, 16, 16, 0.05);

	select {
		height: 55px;
		border: none;
		font-size: 16px;
		font-family: inherit;
	}
}

.share {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 0;
	border-bottom: 1px solid rgba(16, 16, 16, 0.05);

	a {
		display: inline-block;
		padding: 5px;
		color: $color-base;
		opacity: 0.4;
	}

	.name {
		margin-right: 15px;
	}
}

.rating {
	margin-bottom: 5px;
	font-size: 13px;

	i {
		transition: all 0.3s ease;
		cursor: pointer;

		&:hover {
			color: $color-primary;
			font-weight: 700;
		}
	}
}

.navigation-product {
	max-width: 580px;
	margin: 0 auto;
	margin-bottom: 70px;

	p {
		font-size: 13px;
		margin-bottom: 40px;
	}
}

.navigation-product-title {
	margin-bottom: 20px;
	font-family: $font-title;
	font-weight: 500;
	letter-spacing: -0.6px;
}

.navigation-product-title-second {
	font-size: 13px;
	font-weight: 500;
	margin-right: 10px;
}

.choose-size {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 20px;

	span {
		flex-shrink: 0;
	}

	select {
		max-width: 380px;
		padding: 0 20px;
		color: rgba($color: $color-base, $alpha: 0.4);
	}
}

// ------------------------------------------------------------------------------------------------
// ABOUT-US PAGE
// ------------------------------------------------------------------------------------------------

.about-us {
	margin-bottom: 90px;
}

.about-us-inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	max-width: 480px;
	padding: 30px 0;
	height: 100%;
}

.about-button-wrapper {

	a {
		margin-right: 20px;
		margin-bottom: 10px;

		&:last-child {
			margin-right: 0;
		}
	}
}

// ------------------------------------------
// INFOBOX
// ------------------------------------------


.about-infobox {
	margin-bottom: 30px;
	text-align: center;

	.row {
		> [class*=col-] {
			margin-bottom: 30px;
		}
	}
}

.about-title-wrapper {
	max-width: 580px;
	margin: 0 auto;
	margin-bottom: 60px;
}

.infobox {

	img {
		margin-bottom: 20px;
	}

	&.infobox-border {
		padding: 40px;
		border: 1px solid rgba($color: $color-base, $alpha: 0.1);
	}
}


.to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1;
	display: none;

	a {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: $color-base;

		span {
			font-size: 13px;
			font-weight: 500;
			text-align: center;
		}
	}
}

// ------------------------------------------------------------------------------------------------
// CONTACT-US
// ------------------------------------------------------------------------------------------------

.contact-map {
	margin-bottom: 80px;
}

.contact-form {
	margin-bottom: 60px;

	p,
	.tell {
		font-size: 13px;
		color: rgba($color: $color-base, $alpha: 0.5);
	}

	
	
	.row {
		> [class*=col-] {
			margin-bottom: 20px;
		}
	}

	.title {
		margin-bottom: 40px;
	}

	.infobox {
		text-align: center;
	}
}

.spacing-20 {
	margin-bottom: -20px;
}

.col-custom-20 {
	padding-left: 15px;
	padding-right: 15px;
}

// ------------------------------------------------------------------------------------------------
// quick-view
// ------------------------------------------------------------------------------------------------

.quick-view {
	position: fixed;
	top: calc(50% - 250px);
	left: calc(50% - 410px);
	width: 820px;
	padding: 20px;
	background: #fff;
	z-index: 10;
}

// ------------------------------------------------------------------------------------------------
// Sing-Up
// ------------------------------------------------------------------------------------------------

.sing-up {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	max-width: 400px;
	padding: 20px;
	border: 1px solid #E6E6E6;
	text-align: center;
	z-index: 100;

	input[type="text"],
	input[type="password"] {
		margin-bottom: 10px;
	}
}

.shop-card {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	width: 400px;
	padding: 20px;
	border: 1px solid #E6E6E6;
	text-align: center;
	z-index: 100;
}

.btn-wrapper {
	position: relative;
}

.three-sixty {
	@include block-absolute(none, 20px, 20px, none);
	z-index: 1;
	padding: 5px;
	transition: all 0.3s ease;

	&:hover {
		background: #fff;
	}
}

.car {
	background: #fff;
}

.threesixty .nav_bar {
	right: auto;
	left: 15px;

	> a {
		display: flex;
		align-items: center;
		justify-content: center;

		&::after {
			font-family: "Font Awesome 5 Pro";
			font-size: 25px;
			font-weight: 700;
		}
	}

	.nav_bar_play {
		position: relative;
		&::after {
			content: "\f04b";
		}
	}

	.nav_bar_previous {
		position: relative;
		&::after {
			content: "\f104";
			font-size: 30px;
		}
	}

	.nav_bar_next {
		position: relative;
		&::after {
			content: "\f105";
			font-size: 30px;
		}
	}

	.nav_bar_stop {
		position: relative;
		&::after {
			content: "\f04c";
		}
	}
}

.with-animated {
    transform: translateY(150px);
	opacity: 0;
	transition: all .3s ease;

	&.animate {
		transform: translateY(0);
		opacity: 1;
	}
}

.slider-left,
.slider-right {
	cursor: pointer;
}

#gmap {
    width: 100%; 
    height: 520px;

	h3 {
		margin-bottom: 0;
	}
}

.gallery-thumbs {
	margin: 10px 0;

	.swiper-slide {
		max-height: 100%;
		opacity: 0.4;
	}
}

.gallery-thumbs .swiper-slide-thumb-active {
	opacity: 1;
}

.autocomplete-ajax-x {
	position: absolute;
	background: transparent;
	pointer-events: none;
}

.selction-ajax {
	@include block-absolute(100%, 0, none, 0);
	background: #ffff;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

// ------------------------------------------------------------------------------------------------
// MEDIA
// ------------------------------------------------------------------------------------------------

@media (min-width: 1200px) {

	.container {
		width: 1210px;
		max-width: 100%;
	}

	.btn-text-span {
		display: inline-block;

		.col-custom-20 & {
			display: none;
		}
	}

	.btn-plus {
		display: none;

		.col-custom-20 & {
			display: inline-block;
		}
	}

	.button {

		&.product-big {
			position: relative;
			min-width: 120px;
			padding: 12px 5px;
			font-size: 13px;
			text-align: center;
			background: #fff;

			.col-custom-20 & {
				
				min-width: auto;
				padding: 13px;
	
				&::after {
					content: none;
				}

				&:hover {
					padding: 13px;
					color: $color-primary;
				}
			}
				
			&::after {
				content: "+";
				@include block-absolute(50%, 10px, none, none);
				font-size: 20px;
				font-weight: 300;
				transform: translateY(-50%);
				opacity: 0;
				transition: opacity 0.3s ease;
			}
	
			&:hover {
				padding-right: 15px;
				color: inherit;
				
				&::after {
					opacity: 1;
				}
			}
		}
	}

	.subscribe-form {
		justify-content: flex-end;
	}
}

@media (max-width: 1200px) {
	.menu-main {
		a {
			padding: 20px 7px;
		}
	}
}

@media (min-width: 992px) {
	.col-custom-20 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 20%;
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}	
}

@media (max-width: 993px) {

	h1 {
		font-size: 36px;
	}
	
	.top-bar {
		display: none;
	}

	.header-bottom {
		display: none;
	}

	.form-search {
		display: none;
	}

	.header-link {
		display: none;
	}

	.header-general {
		border-bottom: 1px solid rgba(16, 16, 16, 0.05);
	}

	.button-burger {
		display: block;
	}

	.slider {
		min-height: auto;
		margin-bottom: 50px;
	}

	.slider-foto-inner {
		padding: 10px;
	}

	.product-main {

		.row > [class*=col-] {
			margin-bottom: 30px;
		}
	}

	.best-category {
		margin-bottom: 60px;
	}

	.customers {
		margin-bottom: 60px;
	}

	.spacing-bottom-65 {
		margin-bottom: 10px;
	}

	.about-us {
		padding-top: 0;
		margin-bottom: 60px;
	}

	.col-custom-20 {
		-webkit-box-flex: 0;
		-webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}


@media (max-width: 768px) {
	.slider-foto-inner {

		h1 {
			font-size: 25px;
		}

		p {
			display: none;
		}
	}

	.button{
		padding: 5px 10px;
	}
}

@media (max-width: 576px) {
	.slider-foto-inner {

		h1 {
			font-size: 25px;
		}
	}

	.slider-numbers {
		display: none;
	}
}